<div class="container">
  <h2 class="text-center">Listado de Albums</h2>
  <a class="btn btn-primary" routerLink="/albums/add">Crear Album</a>

  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cubierta</th>
          <th scope="col">Fecha de lanzamiento</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Genero</th>
          <th scope="col">Disquera</th>
          <th scope="col">Acciones</th> <!-- Columna de Acciones -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of getPaginatedAlbums()">
          <th scope="row">{{a.id}}</th>
          <td>{{a.name}}</td>
          <td><img [src]="a.cover" width="50"></td>
          <td>{{a.releaseDate | date}}</td>
          <td>{{a.description}}</td>
          <td>{{a.genre}}</td>
          <td>{{a.recordLabel}}</td>
          <td>
            <a [routerLink]="['/albums', a.id]" class="btn btn-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-0-circle" viewBox="0 0 16 16">
              <path d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99M8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895"/>
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8"/>
            </svg></a>
            <a [routerLink]="['comments/add', a.id]" class="btn btn-success mt-3"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
              <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
            </svg></a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Paginación -->
    <div class="d-flex justify-content-between mt-3">
      <button class="btn btn-secondary me-3" (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
      <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
  </div>
</div>
